.card{
  border-radius: 10px!important;
  text-align: center;
  box-shadow: 9px 10px 43px -17px rgba(0,0,0,0.75);
  -webkit-box-shadow: 9px 10px 43px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 10px 43px -17px rgba(0,0,0,0.75);
}
.card img{
  margin: auto;
}